<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>total number of students </h1><h1>{{number}}</h1>

	<h1>search</h1>
	<form action="/searchDetail">
		<input type="text" name="eno">
		<input type="submit" name="search" value="search">
		
	</form>
	<form action="/showStudentByMarks">
		<h1>show students detail of marks are more than 70</h1>
		<input type="submit" name="search" value="show">	
	</form>

</body>
</html>